# Dependencies
/node_modules

# Application Data
# SQLite database file contains user data and should not be uploaded.
/data/*.sqlite

# Log Files
# Log files will change constantly and don't need to be in the repository.
/logs/*.log

# Environment Variables
# The .env file contains local configurations and secrets.
.env

# NPM debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files (optional, but good practice)
.DS_Store
Thumbs.db